.button {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    border: none;
    line-height: 2.5rem;
    color: #fff;
    background-color: darkturquoise;
    border-radius: 4px;
    cursor: pointer;
    padding: 0 2rem;
}

.button:hover,
.button:active {
    background-color: darkcyan;
}
